@tailwind base;
@tailwind components;
@tailwind utilities;

/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Height of the scrollbar for horizontal scrolling */
}

::-webkit-scrollbar-thumb {
  background-color: #174576; /* Blue color for the scrollbar thumb */
  border-radius: 30px; /* Rounded corners for the scrollbar thumb */
}

::-webkit-scrollbar-track {
  background: #3e1111; /* Background color of the scrollbar track */
  border-radius: 30px; /* Rounded corners for the scrollbar track */
}

/* For Firefox */
* {
  scrollbar-width: thin; /* Makes the scrollbar thin */
  scrollbar-color: #123458 #3c0c0c; /* Thumb color and track color */
}



.matrix-bg {
  background-color: rgba(0, 0, 0, 0.7);
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='300' height='70'%3E%3Crect width='100%25' height='100%25' fill='black'/%3E%3Ctext x='50%25' y='50%25' font-family='monospace' font-size='20' fill='%2300ff00' text-anchor='middle' dominant-baseline='middle' opacity='0.9'%3EACCESS GRANTED%3C/text%3E%3C/svg%3E");
  background-size: 100px 100px;
  animation: matrix 20s linear infinite;
}

@keyframes matrix {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100px 100px;
  }
}

.card-3d {
  transform-style: preserve-3d;
  transition: transform 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card-3d:hover {
  transform: translateZ(20px) rotateX(5deg) rotateY(5deg);
}

.card-content {
  backface-visibility: hidden;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
